click
ramp-workflow
git+https://github.com/ramp-kits/stroke_lesions
wheel
ramp-utils
numpy=1.23.4
scikit-learn>=0.22
scikit-image>=0.18
pandas
matplotlib  # matplotlib-base
nilearn
scipy
jupyterlab
bids
wget
osfclient
jupyter_contrib_nbextensions
