click
git+git://github.com/paris-saclay-cds/ramp-workflow
git+git://github.com/AlexandreHutton/stroke
ramp-utils
numpy
scikit-learn>=0.22
scikit-image>=0.18
pandas
matplotlib
nilearn
scipy
jupyterlab
bids
wget
osfclient
jupyter_contrib_nbextensions
